body{
    padding: 30px 30px;
    margin: 0 auto;
    max-width: 700px;
}

table, tr, td{
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

input{
    width: 100%;
    box-sizing: border-box;
}

.success{
    color: green ;
}